body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    background-image: url(images/bg4.jpg);
    background-position: 50%;
    background-size: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    margin: auto 0;
}
.mt-5 {
    color: #333;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button {
    transition: background-color 0.3s, color 0.3s;
}

#create-button {
    background-color: #007bff;
    color: white;
    width: 100%;
}

#create-button:hover {
    background-color: #0056b3;
    color: #e0e0e0;
}

#open-bottle-btn {
    background-color: #007bff;
    color: white;
    width: 100%;
}

#open-bottle-btn:hover {
    background-color: #0056b3;
    color: #e0e0e0;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-wrap: break-word;
    background-color: #e9ecef;
    inline-size: 400px;
    display: flex;
    justify-content: center;
}

.message.success {
    border-color: #28a745;
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    border-color: #dc3545;
    background-color: #f8d7da;
    color: #721c24;
}

#report-btn {
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#report-btn:hover {
    background-color: #c82333;
}

.footer {
    text-align: center;
    background-color: #0056b3;
    color: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    padding: 20px 0;
    opacity: 0.9; /* Increased opacity for better visibility */
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.7;
}

.logo {
    margin-bottom: 10px;
}

.footer-links {
    margin-top: 10px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

.bottle-container {
    position: absolute;
    bottom: 20px;
    left: 120px; /* Adjust as necessary to position the bottle */
    display: flex;
    align-items: flex-end;
    height: 100px;
}

.bottle {
    width: 50px;
}

.bubbles {
    position: absolute;
    bottom: 50px;
    left: 40%; /* Center horizontally */
    transform: translateX(-50%); /* Offset by 50% of its own width */
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bubbleAnimation 5s infinite;
}

.bubble {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    margin-bottom: 5px;
    animation: bubbleRise 3s infinite;
}

.bubble:nth-child(2) {
    width: 12px;
    height: 12px;
    animation-duration: 4s;
}

.bubble:nth-child(3) {
    width: 8px;
    height: 8px;
    animation-duration: 3.5s;
}

@keyframes bubbleRise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes bubbleAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 600px) {
    .bottle-container {
        display: none;
    }
}
