body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    color: #333;
    background-image: url(images/bg4.jpg);
    margin: 0;
    font-family: Arial, sans-serif;
}

.link {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
}

.link:hover {
    text-decoration: underline;
}

#fish-button {
    width: 40px;
    height: 40px;
    vertical-align: middle;

}

.container {
    text-align: center;
    padding: 20px;
    max-width: 80%;
    width: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: width 0.5s ease-out; /* Added transition for width */
    overflow: hidden;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.message-box {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: width 0.5s ease-out, height 0.5s ease-out; /* Added transitions for width and height */
}

.message-content {
    font-size: 1rem;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #0056b3;
    color: #e0e0e0;
}

.link {
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
}

.link:hover {
    text-decoration: underline;
}

.response-message {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.response-message.success {
    background-color: #d4edda;
    color: #155724;
}

.response-message.error {
    background-color: #f8d7da;
    color: #721c24;
}
